header{
    z-index: 9;
    position: absolute;
    right: 50%;
    top: 35px;
    transform: translateX(50%);
    --max-width: 1170px;
    display: flex;
    flex-direction: column;
    

    & .info{
        display: flex;
        justify-content: space-between;
        color: var(--white);

        & .contact{
            display: flex;
            gap: 3rem;

            & div{
                display: flex;
                gap: 18px;
                align-items: center;
                text-wrap: nowrap;
            }
        }
        & .social{
            display: flex;
            gap: 30px;
        }
    }
    & nav{
        display: grid;
        grid-template-columns: min-content 1fr min-content;
        grid-template-areas: ". . downloadBTN";
        padding: 5px;
        align-items: center;
        background-color: var(--white);
        border-radius: 5px;
        position: relative;
        text-transform: uppercase;
        font: var(--text-h6);

        & a img[src*=Logo]{
            padding: 32px 16px;
            border-radius: 5px;
            background-color: var(--white);
            position: absolute;
            top: calc(-50% + 8px);
            right: 50%;
            transform: translateX(50%);
        }

        & ul{
            display: grid;
            z-index: 99;
            & > *{
                z-index: inherit;
            }
        }

        & .menu-hamburger{
            display: none;
            background-image: url(../assets/Icons/menu.svg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 24px;
            height: 24px;
        }
        & .BG-azul{
            text-transform: inherit;
            grid-area: downloadBTN;
        }
    }
}


.menu-hamburger{
    box-sizing: content-box;
    background-color: transparent;
    border-radius: 50%;
    z-index: 9;

    cursor: pointer;
}
.links-active{
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius: 5px;
    left: 0;
    top: 55px;
    background-color: white;
    z-index: 7;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    & li{
        display: block;
        z-index: 4;
        &.empty{
            display: none;
        }
    }
}

/* Large screen */

@media (min-width: 1440px) {
    header{
        width: min(1440px, 80.25vw);
        gap: 16px;
        
        & nav{ /* Remover menu hamburger */
            & .menu-hamburger{
                display: none;
            }
            & a img[src*=Logo]{/* Ajustar a Logo */
                padding: 32px 16px;
                top: calc(-50% + 8px);
            }
            & ul{
                padding-inline-start: 30px;
                grid-template-columns: min-content min-content min-content 1fr min-content min-content min-content;
                gap: 40px;
            }
            & .links-active{
                height: min-content;
                padding: 30px 80px 30px 50px;
                gap: 25px;
                font: var(--text-h5)
            }
        }
    }
}

/* Medium screen (Menu hamburger) */

@media (max-width: 1439px) {
    header{
        width: min(880px, 89.25vw);
        gap: 35px;

        /* Falta adicionar a lista de botões quando clicado */
        & nav{
            padding: 5px;
            & .menu-hamburger{ /* Menu hamburger */
                border: 10px solid transparent;
                display: block;
                position: absolute;
                left: 10px;
                top: 7px;
            }
            /* Fazendo os outros elementos desaparecer */
            & ul {
                grid-template-columns: min-content 1fr min-content; /* Ajuste no grid */
                gap: 0;
                & li{
                display: none;
                }
            }
            & .links-active{
                width: 240px;
                height: min-content;
                padding: 22px 89px 20px 40px;
                gap: 25px;
            }
        }
    }
}

/* Mobile screen */

@media (max-width: 767px) {
    .BG-azul{
        display: block;
        padding: 4px 6px;
        font-size: 10px;
    }
    header{
        width: min(500px, 91.25vw);
        gap: 35px;
        & .info{
            display: none;
        }
        /* Menu hamburger / Ajustes na Logo */
        & nav{
            padding: 3px;
            & ul{
                gap: 0px;
            }
            & a img[src*=Logo]{
                width: 100px;
                padding: 24px 10px;
                top: calc(-50% + 11px);
            }
            & .menu-hamburger{
                top: -2px;
                left: 3px;
            }
        }
        & .links-active.links-active{
            top: 35px;
            width: min-content;
            padding: 20px 25px;
            gap: 15px;
            z-index: 99;
            font: var(--text-md);
        }
    }
}
